
@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<section id="home" class="d-flex">
    <div class="container">
        <h2 class="text-center">Tops 3- Distribuidora </h2>
        <div class="row">
            <div class="col-sm">
                <a href="https://localhost:44329/Distribuidoras/Details/06708850-2ce6-49ab-eefe-08d9426cd4fb"><img src="~/img/WarnerLogo4.png" class="img-fluid" alt="Imagem responsiva"></a>
            </div>
            <div class="col-sm">
                <img src="~/img/DisneyLogo5.png" class="img-fluid" alt="Imagem responsiva">
            </div>
            <div class="col-sm">
                <img src="~/img/Paramount5.png" class="img-fluid" alt="Imagem responsiva">
            </div>
        </div>
    </div>



</section>

<div class="container">
    <h4>Lista de Filmes</h4>

    <div>
       <a href="https://localhost:44329/listaFILMES"> Filmes</a>
    </div>
</div>

