@model IEnumerable<Site.App.Models.FilmeViewModel>

<div class="row">

    @foreach (var item in Model)
    {

        <div class="col-md-3 mt-2">
            <div class="image">
                <img src="~/Imagens/@item.Imagem" alt="@item.Imagem" style="width: 400px; height: 650px;" />
                <figcaption class="text-center">
                    <div>
                     
                     
                    </div>
                    <a asp-controller="Filmes" asp-action="Details" asp-route-id="@item.Id"></a>

                </figcaption>

            </div>



        </div>

       

    }

</div>